{% extends "layout.njk" %}
{% block body %}
<div class="container-fluid padding-top">
    <div class="row">
        <div class="col-sm-6  col-md-5 col-md-offset-1 leadin">
            {{ contents | safe }}
        </div>
        <div class="col-sm-6  col-md-5 col-md-offset-1 form-col">
            <div class="form-container">
                    <div class="form-intro upper">Contact Us</div>
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        portalId: "480219",
                        formId: "47262761-934c-41f6-a884-ff2991e734ca",
                        css: ""
                    });
                </script>
            </div>
        </div>
    </div>
    <br><br>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-md-offset-1"><br>
            <span class="contact-areas">BNA → SAT → SFO</span><br>
            With our main office located in Nashville and boots on the ground in both San Antonio and San Francisco, we work in all parts of the U.S. and can meet you wherever you&nbsp;are.<br><br>
        </div>
        <div class="col-md-7 text-center">
            <img src="/img/nashvegas.jpg" alt="Photo of Nashville, TN" class="img-responsive pull-right">
        </div>
    </div>
</div>
{% endblock %}
