.................................default.njk...........................


{% extends "layout.njk" %}
{% block body %}
<div class="container-fluid {{ 'padding-top' if headerCssClass}}">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 {{ path | cssClassify}} main-copy">
            <!-- Title and Last Updated Date -->
            <h2 id="industrials-website-privacy-policy">{{ title }}</h2>
            <p><em>{{ last_updated_date }}</em></p>

            <!-- Loop through policies and render with HTML-safe content -->
            {% for policy in policies %}
                <h3 class="{{ path | cssClassify }}">{{ policy.page_title | safe }}</h3>
                <div class="{{ path | cssClassify }}">  <!-- Common class applied to wrapping div -->
                    {% for paragraph in policy.page_description.split('\n\n') %}
                        <p class="{{ path | cssClassify }}">{{ paragraph | safe }}</p> <!-- Common class and safe filter applied to each paragraph -->
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
