{% extends "layout.njk" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="resources-grid">
                {% for item in resources.resource_list |sort(false, true, 'order') %}
                {% if item.resource_list.active %}
                <div class="resource">
                    <a target="_blank" href="{{item.resource_list.url}}" data-ga-event="Resources" data-ga-action="Click" data-ga-label="{{item.resource_list.headline}}">
                        <img src="{{item.resource_list.img}}" alt="" class="img-responsive" />
                    </a>
                    <div class="content-title upper"><a target="_blank" href="{{item.resource_list.url}}">{{item.resource_list.headline}}</a></div>
                    <p>{{item.resource_list.copy}}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-sm-12 text-center">
            <p class="leadin">
                Have an idea for our next marketing guide?<br> Contact us now and let us know!<br>
                <a href="/contact/" class="btn btn-default">Send Us a Message</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
